html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-weight:inherit;
	font-style:inherit;
	font-size:100%;
	vertical-align:baseline;
}

html
{
    height:100%; 
	margin-bottom: 0px;   
	 overflow-x: hidden; 
    overflow-y: auto;
}

body 
{
	
    text-align:left;
    height:100%; 
    margin-bottom: 0px;
    font-family: 'Montserrat', sans-serif;
	direction:ltr;
	background-image: url(/images/bg.jpg);
	background-size: cover;
	overflow-x: hidden; 
    overflow-y: auto;
}

div.form{
	display: inline-block
}
section#login div.form
{

	text-align: center;
	width: 50%;
	margin-top: 5%;
	margin-left: 20%;
	font-family: 'Montserrat', sans-serif;
	
}
section#login div.form input
{
	width: 50%;
	margin-bottom: 16px;
	padding: 20px 10px 20px 10px;
	border: none;
	background-color: #dff4f4;
	opacity: 0.6;
	outline: none;
	resize: none;
	font-family: 'Montserrat', sans-serif;
	border-radius: 14px;
	font-size: 18px;
}
section#login div.form input.button
{
	background-color: #efe80a;
	opacity: 0.5;
	margin-left: 2px;
	font-family: 'Montserrat', sans-serif;
	color: #466ba6;
	font-weight: 500;
}
section#login div.form input.button2
{
	background-color: #dff4f4;
	opacity: 0.5;
	margin-left: 2px;
	font-family: 'Montserrat', sans-serif;
	color: #466ba6;
	font-weight: 500;
}

.google{
	margin-right: 20px;
}

section#login div.form input.register
{
	text-align: center;
    background-color: #efe80a;
	opacity: 0.5;
	margin-left: 2px;
	font-family: 'Montserrat', sans-serif;
	color: #466ba6;
	font-weight: 500;
	width: 34%;
	height: auto;
	display: inline-block;
}
section#login div.form input.cancel
{
	text-align: center;
    background-color: #dff4f4;
	margin-left: 4px;
	font-family: 'Montserrat', sans-serif;
	color: #466ba6;
	font-weight: 500;
	width: 34%;
	height: auto;
	display: inline-block;
}




::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #466ba6;
	opacity: 1 !important;
  
}
::-moz-placeholder { /* Firefox 19+ */
  color: #466ba6;

	
}
:-ms-input-placeholder { /* IE 10+ */
  color: #466ba6;

}
:-moz-placeholder { /* Firefox 18- */
  color: #466ba6;

	
}




/* Mobile Styles */
@media only screen and (max-width: 400px) {

	section#login{
		margin-top: 30%;
	}

	section#login div.form
	{
	
		text-align: center;
		font-family: 'Montserrat', sans-serif;
		
	}
	section#login div.form input
	{
		width: 120%;
		margin-bottom: 16px;
		padding: 20px 10px 20px 10px;
		border: none;
		background-color: #dff4f4;
		opacity: 0.6;
		outline: none;
		resize: none;
		font-family: 'Montserrat', sans-serif;
		border-radius: 14px;
		font-size: 18px;
	}
	section#login div.form input.button
	{
		background-color: #efe80a;
		opacity: 0.5;
		margin-left: 2px;
		font-family: 'Montserrat', sans-serif;
		color: #466ba6;
		font-weight: 500;
	}
	section#login div.form input.button2
	{
		background-color: #dff4f4;
		opacity: 0.5;
		margin-left: 2px;
		font-family: 'Montserrat', sans-serif;
		color: #466ba6;
		font-weight: 500;
	}
	
	.google{
		margin-right: 20px;
	}
	#mute{
		position: absolute;
		bottom: 5%;
		right: 5%; 
	}
	section#login div.form input.register
	{
		background-color: #efe80a;
		opacity: 0.5;
		font-family: 'Montserrat', sans-serif;
		color: #466ba6;
		font-weight: 500;
		width: 45%;

	}
	section#login div.form input.cancel
	{
		background-color: #dff4f4;
		margin-left: 4px;
		font-family: 'Montserrat', sans-serif;
		color: #466ba6;
		font-weight: 500;
		width: 45%;
		height: auto;

	}
	
	section#login div.kaftor{
		position: absolute;
		width: 65%;
		text-align: left;
	}

}

.icon{
	width: 50pt;
	height: 50pt;
	visibility: hidden;
}


@media only screen and (orientation: landscape)

{



	section#login{
		margin-top: 0%;
	}

	section#login div.form
	{
		
		font-family: 'Montserrat', sans-serif;
		width: 80%;

		
	}
	form{
		margin-right: 20%;
	}
	section#login div.form input
	{
		text-align: left;
		width: 100%;
		height: 30pt;
		margin-bottom: 16px;
		padding: 20px 10px 20px 10px;
		border: none;
		background-color: #dff4f4;
		opacity: 0.6;
		outline: none;
		resize: none;
		font-family: 'Montserrat', sans-serif;
		border-radius: 14px;
		font-size: 18px;
	}
	section#login div.form input.button
	{

		text-align: center;
		background-color: #efe80a;
		opacity: 0.5;
		font-family: 'Montserrat', sans-serif;
		color: #466ba6;
		font-weight: 500;
		width: 40%;
		height: auto;
	}
	section#login div.form input.button2
	{
		text-align: center;
		background-color: #dff4f4;
		opacity: 0.5;
		font-family: 'Montserrat', sans-serif;
		color: #466ba6;
		font-weight: 500;
		width: 40%;
		height: auto;
	}
	
	.google{
		margin-right: 20px;
	}
	#mute{
		margin-left: 90%
	}
	section#login div.form input.register
	{
		background-color: #efe80a;
		opacity: 0.5;
		margin-left: 2px;
		font-family: 'Montserrat', sans-serif;
		color: #466ba6;
		font-weight: 500;
		width: 34%;
		display: inline-block;
	}
	section#login div.form input.cancel
	{
		background-color: #dff4f4;
		margin-left: 4px;
		font-family: 'Montserrat', sans-serif;
		color: #466ba6;
		font-weight: 500;
		width: 34%;
		display: inline-block;
	}
	


}